*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(../rec/fondo.jpg);
}

h1 {
	color:#000000;
	font-size:170px;
	margin:0;
	padding:0;
	font-family:Imprint MT Shadow;
}


#contenedor{
	width: 1200px;
	height: 2000px;
	margin: auto;
	background: ;
	border-radius: 20px;
	margin-top: 10px;
}
header{
	width: 1200px;
	height: 250px;
	background: yellow;
	margin-top: 10px;
}
#banner{
	width: 1200px;
	height: 250px;
	background: url(../rec/MM1.png);
	float: left;
}

nav{
	width: 1200px;
	height: 80px;
	background: #000000;
	margin-top: 00px;
}
/*para eliminar los puntos y espacios*/
nav ul{
	background:#000;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
/*Para que sea flotante a izquierda */
nav ul li{
	float: left;
	font-size:30px;
}


nav a{
	color:#fff;
	text-decoration: none;
	display: block;
	padding: 20px 88px;
}

nav ul li a:hover {
	background: #ffff;
	color:#000000;
}

main{
	width:1200px;
	height: 400px;
	background: green;
	margin-top: 0px;
}
#left-izquierda{
	width: 50px;
	height: 1650px;
	background: url(../rec/MM3.png);
	float: left;
}
article{
	width: 1100px;
	height: 1650px;
	float: left;
	background: url(../rec/MM2.png);
}
#right-derecha{
	width: 50px;
	height: 1650px;
	float: left;
	background: url(../rec/MM3.png);
}
footer{
	background: #2EFEF7;
	font-size:20px;
	clear: both;
}

ul{
	width: 1200px;
	background:;
	margin-top: 00px;
}

ul li{
	float: left;
	list-style: none;
	font-size:20px;
	background: #000000;
}

a{
	color:#fff;
	text-decoration: none;
	display: block;
	padding: 4px 65px;
}

ul li a:hover {
	background: #ffff;
	color:#000000;
}

H3 {
	color:#00FFFF;
	font-size:20px;
	text-align: left;
	padding: 0px 20px;	
}

h2 {
	padding: 0px 20px;
	color:#FFFF00;
	margin:0;
	text-align: left;
	font-size:20px;
}

.texto-justificado{
	text-align: justify;
	font-size:20px;
	margin:20;
	color:#ffff
}

img {
	margin:20;
}


