*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(../rec/fondo.jpg);
}

h1 {
	color:#000000;
	font-size:170px;
	margin:0;
	padding:0;
	font-family:Imprint MT Shadow;
}


#contenedor{
	width: 1200px;
	height: 1080px;
	margin: auto;
	background: ;
	border-radius: 20px;
	margin-top: 10px;
}
header{
	width: 1200px;
	height: 250px;
	background: yellow;
	margin-top: 10px;
}
#banner{
	width: 1200px;
	height: 250px;
	background: url(../rec/MM1.png);
	float: left;
}

nav{
	width: 1200px;
	height: 80px;
	background: #000000;
	margin-top: 00px;
}
/*para eliminar los puntos y espacios*/
nav ul{
	background:#000;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
/*Para que sea flotante a izquierda */
nav ul li{
	float: left;
	font-size:30px;
}


nav a{
	color:#fff;
	text-decoration: none;
	display: block;
	padding: 20px 88px;
}

nav ul li a:hover {
	background: #ffff;
	color:#000000;
}

main{
	width:1200px;
	height: 400px;
	background: green;
	margin-top: 0px;
}
#left-izquierda{
	width: 50px;
	height: 1020px;
	background: url(../rec/MM3.png);
	float: left;
}
article{
	width: 1100px;
	height: 1020px;
	float: left;
	background: url(../rec/MM2.png);
}
#right-derecha{
	width: 50px;
	height: 1020px;
	float: left;
	background: url(../rec/MM3.png);
}
footer{
	background: #2EFEF7;
	font-size:20px;
	clear: both;
}

H3{
	color:#FFFF;
	font-size:20px;
	margin:5;
	padding:10;
	text-decoration: none;	
}

P{
	color:#000000;
	font-size:20px;
	margin:10;
	padding:10;
	font-family:Berlin Sans FB;
}



ul {
	list-style:none;
	color:#FFFF;
	font-size:20px;
	margin:10;
	padding:10;
} 	

ul a{
	list-style:none;
	text-decoration: none;
}

ul MOMO{
	list-style:none;
	color:#FFFF;
	font-size:20px;
	margin:10;
	padding:10;
} 	

ul MOMO a{
	list-style:none;
	text-decoration: none;
}

h2 {
	color:#FFFF;
	font-size:20px;
	margin:10;
	padding:10;
}

H3{
	color:#00FFFF;
	font-size:50px;
	font-family:Imprint MT Shadow;	
}



figure{
	margin:0%;
	display: inline-block;
	border: 1px solid trasparet;
	position: relative;
}


figcaption{
	display: none;
	background: #fff;
	position: absolute;
	left: 0px;
	bottom:0px;
	width: 90%;
	padding: 5%;
}

figure:hover figcaption{
	display: block;
}

figcaption{
	color: #FF8000;
	text-align: center;
	font-size:20px;
	display: none;
	background: rgba(0,0,0 ,1);
	position; absolute;
	left: 0px;
	bottom: 0px;
	whidth:90%; 
	padding:5%;
}

ul.ACC li a{
	float: left;
	list-style: none;
	font-size:20px;
	background: transparent;
	display: block;
	padding: 12px;
}

ul.ACC li{
	float: left;
	list-style: none;
	font-size:20px;
	background:transparent;
}

ul.ACC li a:hover {
	background:transparent;
	color:transparent;
}

ul.ACC2 li a{
	float: left;
	list-style: none;
	font-size:20px;
	background: transparent;
	display: block;
	padding: 8px;
}

ul.ACC2 li{
	float: left;
	list-style: none;
	font-size:20px;
	background:transparent;
}

ul.ACC2 li a:hover {
	background:transparent;
	color:transparent;
}

